<!-- Footer -->
<div id="footer">
	<div id="footer-top">
		<div class="center-div">
			<!-- Social network -->
			<ul id="horizontal-list">
				<li class="social-icon">
				<!-- TO DO rajouter les liens et changer les Divs en span-->
				<div class="social-instagram"></div>
				</li>
				<li class="social-icon">
					<div class="social-gmail"></div>
				</li>
				<li class="social-icon">
					<div class="social-facebook"></div>
				</li>
				<li class="social-icon">
					<div class="social-twitter"></div>
				</li>
			</ul>
		</div>
			<!-- Delimiteur -->
		<div id="delimiter"></div>
			<!-- Menu -->
		<div class="center-div">
			<ul id="menu-list">
				<li><a href="#" class="icon">HOME</a></li>
				<li><a href="#" class="icon">LOCALITE</a></li>
				<li><a href="#" class="icon">PANIER</a></li>
			</ul>
		</div>
		<div class="center-div-sd">
			<!-- Menu -->
			<ul id="cat-list">
				<li><a href="#" class="icon">Produits & Services </a></li>
				<li><a href="#" class="icon">Appels d'offres</a></li>
				<li><a href="#" class="icon">Ench&egrave;res en cours</a></li>
			</ul>
		</div>
	</div>
	<!-- Copyright -->
	<div id="copyright">
		&copy; Copyright zone
	</div>
</div>